/* app/(dashboard)/dashboard.module.css */

.dashboardContainer {
  display: flex;
  height: 100vh;
  width: 100%;
}

.mainContent {
  flex: 1;
  overflow-y: auto; 
  background-color: var(--bg-main);
}